
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Angular Sandbox</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="nav-item active">
                <a class="nav-link" routerLink="/home">CSS PlayGround</a>
            </li>
            <li routerLinkActive="nav-item active">
                <a class="nav-link" [routerLink]="['/post',1]"
                 [queryParams]="{page:1, order:'newest'}" >Routing Module</a>
            </li>           
        </ul>
    </div>
</nav>