<div class="header-container">


  <div class="app-body">
    <div><button class="feedback-btn btn btn-danger">Feedback</button></div>
    <div class="container-fluid m-4">
      <div class="row">
        <div class="col-5 form-1 mt-4 mr-2">
          <form class="input-form p-1">
            <div class="form-1-heading">
              Input form
            </div>
            <div>
              <input placeholder="Enter Name" />
            </div>
            <div>
              <input type="date" placeholder="Enter Date" />
            </div>
            <div>
              <select id="cars">
                <option value="Select">Select a Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
                <option value="Transgender">Transgender</option>
              </select></div>
            <div>
              <button type="button">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-5 form-2 mt-4">
          <form>
            <div class="container">
              <div class="row justify-content-center form-group">
                <div class="col-4">
                  <div style="TEXT-DECORATION: underline; font-weight: bold">Input Form</div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-3">
                  <label style="TEXT-DECORATION: line-through;">Name</label>
                </div>
                <div class="col-9">
                  <input placeholder="Enter Name" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-3">
                  <label>Date of Birth</label>
                </div>
                <div class="col-9">
                  <input type="date" placeholder="Enter DOB" class="form-control">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-3">
                  <label>Gender</label>
                </div>
                <div class="col-9">
                  <select id="genders" class="form-control">
                    <option value="Select">Select a Gender</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Transgender">Transgender</option>
                  </select>
                </div>
              </div>
              <div class="row justify-content-center form-group">
                <div class="col-3">
                  <button title="Please enter all the details before submitting" class="form-control btn-primary">Submit</button>
                </div>
                <div class="col-3">
                  <button title="Please enter all the details before submitting" class="form-control btn-danger">Reset</button>
                </div>
                <div class="col-3">
                  <button title="Refresh" class="form-control btn-info">
                    <i class="fa fa-refresh" aria-hidden="true">
                    </i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-10 form-3">
          <div class="container">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#home">Table</a>
              </li>
              <li class="nav-item">
                <a data-toggle="pill" class="nav-link" href="#menu1">
                  All Deals
                </a>
              </li>
              <li class="nav-item">
                <a data-toggle="pill" class="nav-link" href="#menu2">Top Deals</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active home-tab">
                <app-table></app-table>
              </div>
              <div id="menu1" class="tab-pane fade home-tab">
                <app-cox-table></app-cox-table>
              </div>
              <div id="menu2" class="tab-pane fade">
                <app-cox-top-deals-table></app-cox-top-deals-table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>